* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 60px 1fr 60px;
    grid-template-areas: 
    "navbar"
    "filter"
    "productos"
    "footer"
    ;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2F001C;
    color: white;
    align-items: center;
    grid-area: navbar;
}

.logo_cont {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo,
.bars {
    width: 30px;
}

.nav ul{
    display: none;
}

.filter {
    background-color: rgb(215, 215, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-area: filter;
    gap: 5px;
}

.filter span{
    font-size: 18px;
}

.button-precio{
    width: 90px;
}

.main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: productos;
}

.container_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6b6b6;
    width: 300px;
    gap: 15px;
    padding: 35 px 0px;
    border-radius: 5px;
}

.img_card {
    width: 300px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.boton {
    background-color: #FFEE12;
    width: 90PX;
    height: 27px;
    border-radius: 5px;
}

.navegation{
    display: flex;    
}

.navegation >button{
    width: 30px;
    height: 30px;
    color: blue;
}

footer{
    background-color: #2F001C;
    color: white;    
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: footer;
}

footer{
    width: 100%;
}

.img_footer{
    width: 20px;
    color: white;    
    display: flex;
    align-items: center;
}

@media(min-width:576px){
    * {
        margin: 0;
        padding: 0;
    }
    .container {
        background-color: #FFEE12;
        grid-template-columns: 175px 1fr;
        grid-template-rows: 50px  1fr 80px;
        grid-template-areas: 
        "navbar filter"
        "navbar productos"
        "footer productos"
        ;
    }
/* Aqui empieza el navbar */
    .nav{
        flex-direction: column;
        justify-content: start;
    }

    .logo_cont {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        background-color: #2F001C;
    }

    .logo {
        width: 48px;
    }

    .logo_cont h1{
        text-align: center;
    }

    .bars{
        display: none;
    }

    .nav ul{
        display: flex;
        flex-direction: column;
        padding: 13px;
        list-style-type: none;
        font-size: 14px;
        margin: 7px;
        gap: 5px;
    }
    /* Aqui termina el navbar */

/* aqui comienza la section */
.filter {
    background-color: rgb(215, 215, 253);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-precio{
    width: 100%;
}
/* aqui termina la section */

/* comienzo de la section que contiene las boxes */
    .container_card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }

    
    .boxes {
        display: flex;
        flex-direction: column;
        background-color: #b6b6b6;
        width: 300px;
        border-radius: 5px;
    }

    .img_card {
        width: 260px;
        height: 200px;
    }

    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .navegation >button{
        width: 35px;
        height: 21px;
        color: blue;
    }

    /* Finalizo las boxes */

    footer{
        background-color: #fb04e6;
        color: white;    
        align-items: center;
        flex-direction: column;
    }


    .img_footer{
        width: 20px;
        color: white;    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }
}